# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
# Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Virtual environments
venv/
.venv/
env/
# Local configuration & credentials
.env*
!.env.example
*.log
